.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h1 {
  font-family: Tahoma;
  font-size: 23px;
}
p {
  font-family: Tahoma;
  font-size: 15px;
}
#small {
    font-size: 10px;
  }
#center_white {
  text-align: center;
  color: white;
}
#center {
  text-align: center;
}
.bg {
  background-color: #42B6E1;
}
.white-bg{
  background-color:white;"
}
.white{
  color: white;
}
.blue-bg {
  background-color: #42B6E1;
}
.blue {
  color: #42B6E1;
}
