<!DOCTYPE HTML>
<html>
  <body>
    
      <a href="/account">Back to Accont</a>
      <a href="/posts">Posts</a>
      <a href="/assignments">Assignments</a>
      <a href="/logout">Log Out</a> <br>
      Welcome <%= @user.first_name %> to your group  
      <br>
      <br>
      <% @user_group.each do |member| %>
        <%= member.first_name %><br>
        <%= member.email %><br>
        <br>
      <%end%>
    
  </body>
</html>
