<!DOCTYPE html>
<html>
  <head>
    <title>Spaceless</title>
  </head>
    <body>
      <div class="uk-container">
<!----first container start-->
      <div class="uk-container">
      <div uk-slideshow="animation: push;ratio:8:3">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          
          <ul class="uk-slideshow-items">          
            <li>
              <img src="../images/slide1.jpg" alt="" uk-cover>
              <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <h3 class="uk-margin-remove">WELCOME TO SPACELESS</h3>
                <!---animation start--->
      <div id="wrap" class="uk-text-center uk-margin-remove">
      <svg width="300" height="300">
  
  <!-- background -->
    <svg>
      <circle cx="150" cy="150" r="130" style="stroke: lightblue; stroke-width:18; fill:transparent"/>
      <circle cx="150" cy="150" r="115" style="fill:#2c3e50"/>
      <path style="stroke: #2c3e50; stroke-dasharray:820; stroke-dashoffset:820; stroke-width:18; fill:transparent" d="M150,150 m0,-130 a 130,130 0 0,1 0,260 a 130,130 0 0,1 0,-260">
      <animate attributeName="stroke-dashoffset" dur="6s" to="-820" repeatCount="indefinite"/>
    </path>
    </svg>
  
  <!-- image -->
    <svg>
      <path id="hourglass" d="M150,150 C60,85 240,85 150,150 C60,215 240,215 150,150 Z" style="stroke: white; stroke-width:5; fill:white;" />
    
      <path id="frame" d="M100,97 L200, 97 M100,203 L200,203 M110,97 L110,142 M110,158 L110,200 M190,97 L190,142 M190,158 L190,200 M110,150 L110,150 M190,150 L190,150" style="stroke:lightblue; stroke-width:6; stroke-linecap:round" />
    
      <animateTransform xlink:href="#frame" attributeName="transform" type="rotate" begin="0s" dur="3s" values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
      <animateTransform xlink:href="#hourglass" attributeName="transform" type="rotate" begin="0s" dur="3s" values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
    </svg>
  
  <!-- sand -->
    <svg>
    <!-- upper part -->
      <polygon id="upper" points="120,125 180,125 150,147" style="fill:#2c3e50;">
        <animate attributeName="points" dur="3s" keyTimes="0; 0.8; 1" values="120,125 180,125 150,147; 150,150 150,150 150,150; 150,150 150,150 150,150" repeatCount="indefinite"/>
      </polygon>
    
    <!-- falling sand -->
      <path id="line" stroke-linecap="round" stroke-dasharray="1,4" stroke-dashoffset="200.00" stroke="#2c3e50" stroke-width="2" d="M150,150 L150,198">
      <!-- running sand -->
        <animate attributeName="stroke-dashoffset" dur="3s" to="1.00" repeatCount="indefinite"/>
      <!-- emptied upper -->
        <animate attributeName="d" dur="3s" to="M150,195 L150,195" values="M150,150 L150,198; M150,150 L150,198; M150,198 L150,198; M150,195 L150,195" keyTimes="0; 0.65; 0.9; 1" repeatCount="indefinite"/>
      <!-- last drop -->
        <animate attributeName="stroke" dur="3s" keyTimes="0; 0.65; 0.8; 1" values="#2c3e50;#2c3e50;transparent;transparent" to="transparent" repeatCount="indefinite"/>
      </path>
    
    <!-- lower part -->
      <g id="lower">
        <path d="M150,180 L180,190 A28,10 0 1,1 120,190 L150,180 Z" style="stroke: transparent; stroke-width:5; fill:#2c3e50;">
          <animateTransform attributeName="transform" type="translate" keyTimes="0; 0.65; 1" values="0 15; 0 0; 0 0" dur="3s" repeatCount="indefinite" />
        </path>
        <animateTransform xlink:href="#lower" attributeName="transform"
                    type="rotate"
                    begin="0s" dur="3s"
                    values="0 150 150; 0 150 150; 180 150 150"
                    keyTimes="0; 0.8; 1"
                    repeatCount="indefinite"/>
      </g>
    
    <!-- lower overlay - hourglass -->
      <path d="M150,150 C60,85 240,85 150,150 C60,215 240,215 150,150 Z" style="stroke: white; stroke-width:5; fill:transparent;">
        <animateTransform attributeName="transform"
                    type="rotate"
                    begin="0s" dur="3s"
                    values="0 150 150; 0 150 150; 180 150 150"
                    keyTimes="0; 0.8; 1"
                    repeatCount="indefinite"/>
      </path>
    
    <!-- lower overlay - frame -->
      <path id="frame" d="M100,97 L200, 97 M100,203 L200,203" style="stroke:lightblue; stroke-width:6; stroke-linecap:round">
      <animateTransform attributeName="transform"
                    type="rotate"
                    begin="0s" dur="3s"
                    values="0 150 150; 0 150 150; 180 150 150"
                    keyTimes="0; 0.8; 1"
                    repeatCount="indefinite"/>
      </path>
      </svg>
  
      </svg>
    </div>
<!---animation end---->
<!---sign up start-->                
                <% if !logged_in? %>
                  <h3 class="uk-margin-remove">Not a member yet? </h3>
                  <br>
                  <a class="uk-button uk-button-default" href="#modal-signup" uk-toggle>SIGN UP</a>
                  <div id="modal-signup" uk-modal>
                  <div class="uk-modal-dialog">
            
                  <div class="uk-modal-header bg">         
                    <h4 class="white"><span class="uk-margin-small" uk-icon="plus"></span> SIGN UP</h4></a>
                  </div>

                  <div class="uk-modal-body ">

                    <form action="/signup" method="POST">
                      <fieldset class="uk-fieldset">
                      <div class="uk-margin">
                        <input class="uk-input" type="text" name="first_name" id="first_name"  placeholder="Firstname:">
                      </div>
                      <div class="uk-margin">
                        <input class="uk-input" type="text" name="last_name" id="last_name"  placeholder="Lastname">
                      </div>
                      <div class="uk-margin">
                        <input class="uk-input" type="text" name="email" id="email" placeholder="Email:">
                      </div>
                      <div class="uk-margin">
                        <input class="uk-input" type="text" name="username" id="usernmae"  placeholder="Username:">
                      </div>
                      <div class="uk-margin">
                        <input class="uk-input" type="password" name="password" id="password" placeholder="Password:">
                      </div>
                      </fieldset>
          
                      <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary" type="submit">Submit</button>
                      </div>
                    </form>

                  </div>

                  </div>         
                  </div>    
                <% end %>
<!--sign up end-----> 
            </li>
            <li>
              <img src="../images/slide2.jpg" alt="" uk-cover>
            </li>
            <li>
              <img src="../images/slide3.jpg" alt="" uk-cover>
            </li>
            
          </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>

        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>

      <div class="uk-text-center">
        <p class="blue" style="font-size:35px;">SPACELESS ONLINE TUTORING</p>
        <p style="font-size:20px;">"WE WILL MEET WHEREVER YOU ARE"</p>
        <p>Apply English programs and schedules tailored to fit your needs. We would like to support you to where you’re going linguistically and with your dreams.
        </p>
      </div>

      </div>
      <br>
<!----first container end------>
<!----second container start--->
      <div class="uk-container">

      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin " uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="../images/about.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
    
      <div class="blue-bg">
        <div class="uk-card-body blue-bg white"uk-grid>
          <h3 style="color:white">ABOUT SPACELESS </h3>
          <p>Our mission at Spaceless Tutoring is simple: to provide a high-quality learning experience to you. Through open communication, collaboration and exceptional service, we hope you’ll find what you’re looking for with our Tutoring Service. 
          </p>
          <p>For more information or general inquiries, get in touch today.</p>
          <a href="#get-in-touch" uk-scroll><button class="uk-button uk-button-default white">GET IN TOUCH</button></a>
        </div>
      </div>
      </div>

      

      </div>
<!----second container end----->

<!----thrid container start---->
      <div class="uk-container">
      <br>
      <hr class="uk-divider-icon">

      <div class="uk-text-center">
        <p class="blue" style="font-size:35px;">OUR PROGRAMS</p>
      </div>
      <br>

    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>

      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
         <h3 class="uk-card-title"><span uk-icon="icon: star;color"></span> TOELF</h3>
          <p>In level one, Students learn how to take the TOEFL test and achieve the score they desire. Students also go beyond the test and write essays for college. Students will focus in on reading, writing, listening and speaking.</p>
          <button onClick="window.open('https://drive.google.com/file/d/1Oa7IXxu-SEmzFxzgYZe8nw-gEymGfAPr/view');"  class="uk-button uk-button-primary">MORE DETAILS</button>
        </div>
      </div>
      
      <div>
        <div class="uk-card uk-card-default uk-card-body uk-light blue-bg" >
          <h3 class="uk-card-title" style="color:white"><span uk-icon="icon: star;color"></span> BEGINNER</h3>
          <p class="white">Students learn words and expressions for real life. Students will focus in on the basics of reading, writing, listening and speaking. Students scratch the surface of English.</p>
          <button onClick="window.open('https://drive.google.com/file/d/1jX0OrvNPc39m5v_koBAbFNvfZjAlcu-_/view');" class="uk-button uk-button-default">MORE DETAILS</button>
        </div>
      </div>
      
      <div>
        <div class="uk-card uk-card-default uk-card-body uk-light blue-bg " >
          <h3 class="uk-card-title" style="color:white"><span uk-icon="icon: star;color"></span> INTERMEDIATE</h3>
          <p class="white">In level two, students are engaged in a variety of collaborative meaningful learning experiences, going deeper in the language in a rich, dynamic and engaging environment. Students go beyond the surface level and beyond common everyday language.</p>
          <button onClick="window.open('https://drive.google.com/file/d/1HAjTkgm3XNrnd5ttM2R08Zf_SfDd03fK/view');" class="uk-button uk-button-default">MORE DETAILS</button>
        </div>
      </div>
    
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <h3 class="uk-card-title"><span uk-icon="icon: star;color"></span> ADVANCED</h3>
          <p >In level three, after gaining a deeper understanding, students practice their language acquisition in more complex real-life contexts for valuable, authentic learning inspiring critical and creative thinking. Students go beyond the surface.</p>
          <button class="uk-button uk-button-primary" onClick="window.open('https://drive.google.com/file/d/1oZiQrKWzNT352nNbAihc6TokCvgFNPjG/view');">MORE DETAILS</button>
        </div>
      </div>

    </div>
     
      <br>
      
<!----thrid container end------>

<!----forth container start---->
      <br>
      <div class="uk-container">
      <hr class="uk-divider-icon">
      <br>
      <div>
      <div class="uk-card uk-card-large uk-card-body uk-text-center white" style="background-image: url(../images/post-bg.jpg)">
        <span uk-icon="icon: quote-right"></span>
        <p>Hi, My name is Jill and I have been teaching and tutoring for more than a decade. I have a BA in English and Writing, a Master’s in Education specializing in Reading and Literacy and a lot of experience in education. </p>
        <p>We’re here to support you in your linguistic and professional dreams, goals and ambitions. Even if you don’t know what they are yourself yet. We meet you where you are and help you to where you’re going.</p>
        <h3 class="uk-card-title white">Jill Telford, Instructor</h3>        
      </div>
      </div>
      </div>
      <br>
<!----forth container end------>

<!----fifth container start---->
      <br>
      <div class="uk-container">
      <hr class="uk-divider-icon">
      <br>
      <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slider>

      <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m " uk-grid-small>
        <li style="background-color:#FFB7B2;color:black">
          <img src="../images/bg.jpg" alt="">
          <div class="uk-position-center uk-panel uk-text-center"><h4>Let's check the comments from our students!</h4></div>
        </li>
        <li style="background-color:#FF9AA2;color:black">
          <div class="uk-position-center uk-panel uk-text-center">
          <span uk-icon="icon: commenting"></span>
          <h4 style="color:black">I highly recommend SPACELESS! Everyone has been more than wonderful</h4>
          </div>
        </li>
        <li style="background-color:#FFB7B2;color:black">
          <div class="uk-position-center uk-panel uk-text-center">
            <span uk-icon="icon: commenting"></span>
            <h4 style="color:black">SPACELESS has been a wonderful place for my child to grow, and learn</h4>  
          </div>
        </li>
        <li style="background-color:#FFDAC1;color:black">
            <div class="uk-position-center uk-panel uk-text-center">
            <span uk-icon="icon: commenting"></span>
            <h4 style="color:black">If I can ten stars across the board! My dad LOVES this school!</h4>  
          </div>
        </li>
        <li style="background-color:#E2F0CB;color:black">
            <div class="uk-position-center uk-panel uk-text-center">
            <span uk-icon="icon: commenting"></span>
            <h4 style="color:black">I got all As' in the university. Thanks to SPACELESS!</h4>
            </div>
        </li>
        <li style="background-color:#B5EAD7;color:black">
          <div class="uk-position-center uk-panel uk-text-center">
          <span uk-icon="icon: commenting"></span>
          <h4 style="color:black">The teachers are very professional and are just the best.</h4>
          </div>
        </li>
      </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
      </div>
      <br><br>
<!----fifth container end------>
<!----sixth container start---->    
      <div class="uk-container">
      <div>
      <hr class="uk-divider-icon">
      <br>
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="../images/getintouch.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>

      <div>
        <div class="uk-card-body" id="get-in-touch">
          <h3 class="uk-card-title" style="color:#42B6E1;" >GET IN TOUCH</h3>
          <p>Questions, comments or requests? Feel free to reach out, we’d love to hear from you.</p>
            <div>
             <span uk-icon="icon: facebook"> <a href="https://www.facebook.com/spacelesstutoring"></span>  : facebook.com/spacelesstutoring </a>
            </div>
            <div>
             <span uk-icon="icon: mail"> <a href="mailto:spaceless.tutoring@gmail.com"></span>  : spaceless.tutoring@gmail.com </a>
            </div>
        </div>
        </div>
        </div>
        <br><br>
<!----sixth container end------>
      </div> 
    </body>
</html>
