<!DOCTYPE html>
<html>
  <head>
    <title>Spaceless</title>
   
  </head>
  <body>

    <div>
      <a href="/signup">Sign Up</a>
    </div>
    <div>
      <a href="/login">Log In</a>
    </div>

  </body>
</html>

