<!DOCTYPE HTML>
  <head>
    <title>SPACELESS</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="../css/uikit.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- UIkit JS -->
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
  </head>

    <body>
      <nav class="uk-navbar-container" uk-navbar style="background-color: #48BFEB">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/"><img  width="70" height="70" src="../images/logo.png" ></a></li>
          <% if logged_in? && @user.course_id > 0 %>
          <li class="uk-active"><a href="/account">Profile</a></li>
          <li class="uk-active"><a href="/assignments">Assignment</a></li>
          <li class="uk-active"><a href="/posts">Board</a></li>
          <li class="uk-active"><a href="/group">Contact</a></li>
          <% end %>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a onClick="window.open('https://www.facebook.com/spacelesstutoring');" uk-icon="icon: facebook"></a></li>
          <li class="uk-active"><a href="mailto:spaceless.tutoring@gmail.com" uk-icon="icon: mail"></a></li>
          <% if logged_in? %>
            <li class="uk-active"><a href="/logout" uk-icon="icon: sign-out"></a></li>
          <% else %>
            <li class="uk-active"><a href="#modal-login" uk-icon="icon: sign-in" uk-toggle></a></li>
<!--log in start--->                
          <div id="modal-login" uk-modal>
          <div class="uk-modal-dialog">
          <div class="uk-modal-header bg">
           <h4 class="white"><span class="uk-margin-small" uk-icon="sign-in"></span> LOG IN</h4></a>
          </div>
          <div class="uk-modal-body ">
            <form action="/login" method="POST">
              <fieldset class="uk-fieldset">
              <div class="uk-margin">
                <input class="uk-input" type="text" name="username" id="usernmae"  placeholder="Username:">
              </div>
              <div class="uk-margin">
                <input class="uk-input" type="password" name="password" id="password" placeholder="Password:">
              </div>
              </fieldset>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit">Submit</button>
          </div>
          </form> 
          </div>       
          </div>    
          </div>
<!--log in end-----> 
          <% end %>
        </ul>
      </div>
      </nav>
      <div class="footer">
      <div class="uk-section-secondary uk-light"  style="height: 20px">
        <p class="uk-icon="icon: facebook">Created by : Tanattha Thuenim <a onClick="window.open('https://github.com/Tanattha/spaceless');" uk-icon="icon: github"></a></p>
      </div>
      </div>
        <% if flash.has?(:message) %>
          <p style="color:red;text-align: center;"><%= flash[:message] %> </p>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
